body{
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
}

.nav {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
 	text-decoration: none;
 	color: #00336d;
}
a:hover {
	text-decoration: underline;
	color: #00336d;
}
p {
	color: #4d4d4d;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #4d4d4d;
}
input:-moz-placeholder  textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4d4d4d;
   opacity:  1;
}
input::-moz-placeholder textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4d4d4d;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #4d4d4d;
}
